legend {
	font-size: 1em;
}

#site-top {
	background-color: #eee;
	border: 1px solid #aaa;
	height: 100px;
}

.nav-header {
	padding: 3px 10px !important;
	width: 100% !important;
	height: 20px !important;
	border-bottom: 1px solid #ddd;
	color: #666;
	font-size: 0.8em;
}
#logo {
	width: 200px;
	float: left;
}

#upper-controls {
	width: 100%;
	height: 100%;
}

#upper-controls > div {
	float: right;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	height: 100%;
}

#waveform-editor {
	width: 200px;
}

#player-controls {
	width: 250px;
}
#player-controls .btn-group {
	margin: auto;
}
#player-controls [data-attr="beat"] {
	margin-left: 10px;
}
#playback-buttons-wrapper {
	margin: 5px 20px;
}
#input-playback-bar-wrapper {
	padding: 5px;
}
#input-playback-bar-wrapper > span {
	display: block;
	float: left;
	padding: 5px;
}
#input-playback-bar {
	display: block;
	float: left;
	width: 70%;
}

#add-bar-controls {
	width: 350px;
}
#add-bar-controls > div {
	width: 50%;
	height: 100%;
	float: left;
	padding: 5px;
}
#add-bar-controls span {
	color: #666;
	font-size: 0.9em;
}
#add-bar-controls input[type="text"] {
	padding: 0.2em;
	line-height: 1em;
	height: 1.5em;
	width: 30px;
	display: inline-block;
}
#beats-per-bar-title {
	margin-left: 15px;
}
#beats-per-bar-container > span {
	display: block;
	float: left;
	padding: 5px;
}
#beats-per-bar-input {
	display: block;
	float: left;
	padding: 5px 0;
	width: 70%;
}
#add-instrument-controls {
	width: 200px;
}




#site-main {
	height: 500px;
}
#site-content-wrapper {
	background-color: #fff;
	height: 100%;
	width: 100%;
	margin-right: -200px;
	float: left;
	position: relative;
	z-index: 5;
}
#site-content {
	width: auto;
	height: 100%;
	margin-right: 200px;
	overflow: auto;
}
#part-top {
	font-size: 0.8em;
	height: 60px;
	width: 1810px;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
}
#part-top > div {
	padding-top: 10px;
	width: 20px;
	height: 100%;
	border-right: 1px solid #ccc;
	float: left;
	text-align: center;
}
#part-top > div:first-child {
	width: 50px;
}
#part-top .black-key {
	background-color: #666;
	color: #fff;
}

#part-controls {
}
.part-control {
	height: 0;
	display: inline-block;
}
.part-control-block-inner {
	display: inline-block;
	position: relative;
	background-color: rgba(255,255,255,0.5);
}
.part-control-block-inner.active {
	z-index: 20;
}
.part-control-block-inner.inactive {
	z-index: 0;
}


.beat-control-block {
	display: inline-block;
	height: 20px;
	width: 1810px;
	border-bottom: 1px solid #eee;
}
.beat-control-block-inner {
	display: inline-block;
	white-space: nowrap;
}
.beat-control-block-inner[data-isselected="true"] {
	background-color: rgba(200,200,255,0.5);
}
.beat-control-block-inner > div {
	height: 20px;
	width: 20px;
	border-right: 1px solid #eee;
	float: left;
}

.beat-control-block .time {
	width: 50px;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding-right: 5px;
	color: #666;
	font-size: 0.8em;
	text-align: right;
	cursor: pointer;
}

.dot[data-active="true"] {
	background-color: #eee;
}

.dot[data-active="true"] > div {
	background-color: #ccc;
} 

.dot > div {
	border-radius: 2px;
	position: relative;
	height: 70%;
	width: 70%;
	margin: auto;
	top: 15%;
}


#site-right {
	background-color: #eee;
	height: 100%;
	width: 200px;
	float: left;
	position: relative;
	z-index: 10;
}
#instrument-controls {
	overflow: auto;
	height: 100%;
}
.instrument-control-block {
	padding: 1em;
	text-align: left;
}
.instrument-control-block > div {
	float: left;
	width: auto;
	clear: both;
}
.instrument-control-block input[type="text"] {
	padding: 0.2em;
	line-height: 1em;
	height: 1.5em;
	width: 80%;
	display: inline-block;
}


#site-bottom {
	background-color: #eee;
	border: 1px solid #aaa;
	height: 25px;
	position: relative;
	z-index: 20;
}
#site-bottom.expanded {
	height: 100px;
}