legend {
	font-size: 1em;
}

#site-top {
	background-color: #eee;
	border: 1px solid #aaa;
	height: 100px;
}

#logo {
	width: 200px;
	float: left;
}

#upper-controls {
	width: 100%;
	height: 100%;
}

#upper-controls > div {
	float: right;
	border: 1px solid #ccc;
}

#player-controls {
	width: 200px;
	height: 100%;
}

#add-instrument-controls {
	width: 200px;
	height: 100%;
}

#player-controls-buttons,
#player-controls-value-display {
	display: inline-block;
}


#site-main {
	height: 500px;
}
#site-left {
	background-color: #eee;
	height: 100%;
	width: 100px;
	float: left;
	position: relative;
	z-index: 10;
}

#site-content-wrapper {
	background-color: #fff;
	height: 100%;
	width: 100%;
	margin-left: -100px;
	margin-right: -200px;
	float: left;
	position: relative;
	z-index: 5;
}
#site-content {
	width: auto;
	height: 100%;
	margin-left: 100px;
	margin-right: 200px;
}



#site-right {
	background-color: #eee;
	height: 100%;
	width: 200px;
	float: left;
	position: relative;
	z-index: 10;
}
#instrument-controls {
	overflow: auto;
	height: 100%;
}
.instrument-control-block {
	overflow: hidden;
	border: 1px solid #aaa;
	padding: 1em;
}
.instrument-control-block.header {
	padding: 0 1em;
	border: 0;
}
.instrument-control-block > div {
	float: left;
	width: auto;
	clear: both;
}
.instrument-control-block input[type="text"] {
	padding: 0.2em;
	line-height: 1em;
	height: 1.5em;
	width: 80%;
	display: inline-block;
}


#site-bottom {
	background-color: #eee;
	border: 1px solid #aaa;
	height: 25px;
	position: relative;
	z-index: 20;
}
#site-bottom.expanded {
	height: 100px;
}