@font-face {
    font-family: vibrocen;
    src: url("../fonts/vibrocen.ttf") format("truetype"),
         url("../fonts/vibrocen.woff") format("woff"),
         url("../fonts/vibrocen.eof") format("eof"),
         url("../fonts/vibrocen.svg") format("svg");
}

 html, body { overflow: hidden; }

legend {
	font-size: 1em;
}

/* site top ---------------------------------------------------
 */

#site-top {
	background-color: #eee;
	border: 1px solid #aaa;
	height: 110px;
	position: relative;
	z-index: 101;
	box-shadow: rgba(50,50,50,0.5) 0 2px 5px;
}

.nav-header,
.nav-footer {
	padding: 3px 1.5em;
	margin: 0 !important;
	width: 100% !important;
	height: 20px !important;
	text-align: left !important;
	border-bottom: 1px solid #fff;
	box-shadow: #464646 0 2px 4px inset;
	color: #fff;
	background-color: #666;
	font-size: 0.8em;
}
.nav-footer {
	padding: 3px;
}
.nav-panel {
	color: #666;
	font-size: 0.9em;
}
#permanent-top {
	float: left;
	height: 100%;
}
#permanent-top > div {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}
#logo {
	font-size: 1.1em;
	height: 100%;
	font-family: vibrocen;
	font-style: italic;
	text-align: center;
}
#logo .inner {
	margin: auto;
	padding: 0 2em;
	height: 100%;
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(240,33%,20%)), color-stop(50%,hsl(240,33%,20%)), color-stop(45%,hsla(240,100%,60%, 0.5)));
	background: -webkit-linear-gradient(top, hsl(240,33%,20%) 0%, hsl(240,33%,20%) 50%, hsla(240,100%,60%, 0.5) 56%);
	background:    -moz-linear-gradient(top, hsl(240,33%,20%) 0%, hsl(240,33%,20%) 50%, hsla(240,100%,60%, 0.5) 56%);
	background:     -ms-linear-gradient(top, hsl(240,33%,20%) 0%, hsl(240,33%,20%) 50%, hsla(240,100%,60%, 0.5) 56%);
	background:      -o-linear-gradient(top, hsl(240,33%,20%) 0%, hsl(240,33%,20%) 50%, hsla(240,100%,60%, 0.5) 56%);
	background:   linear-gradient(to bottom, hsl(240,33%,20%) 0%, hsl(240,33%,20%) 50%, hsla(240,100%,60%, 0.5) 56%);
	box-shadow: rgba(50,50,50,0.5) 0.1em 0.1em 0.1em inset, rgba(50,50,50,0.5) -0.1em -0.1em 0.1em inset;
	background-color: #224;
}
#logo .title {
	position: relative;
	top: 0.05em;
	font-size: 3.5em;
	font-weight: bold;
	color: #eee;
	text-shadow: hsla(240, 33%, 20%, 0.5) 0.02em 0.02em 0.01em, hsla(341, 84%, 58%, 0.9) 0 0 1em;
}
#logo .s {
	position: relative;
	left: 0.3em;
}
#logo .h {
	position: relative;
	left: -0.3em;
}
#logo .ynt {
	font-size: 0.65em;
	position: relative;
}
#logo .js {
	font-size: 0.4em;
	position: relative;
	left: -1.1em;
	top: -0.9em;
	color: hsl(233, 58%, 45%);
	text-shadow: rgba(50,50,50,0.3) 0.1em 0.1em 0.1em;
}
#logo .subtitle {
	font-size: 1.1em;
	color: #ccc;
	position: absolute;
	top: 3.1em;
	left: 2.7em;
	text-shadow: rgba(50,50,50,0.5) 0.08em 0.08em 0.01em;
}
#logo .sub {
	font-size: 0.7em;
	position: relative;
	left: -0.4em;
	margin-right: -0.2em;
}
#logo .note {
	position: absolute;
	font-size: 2.9em;
	line-height: 0;
	top: 1.4em;
	left: 3.75em;
	color: hsl(341, 84%, 58%);
	text-shadow: rgba(50,50,50,0.5) 0.1em 0.1em 0.01em;
}
#logo .line {
	min-height: 1px;
	height: 0.01em;
	width: 15em;
	margin: auto;
	position: absolute;
	left: 0.5em;
	top: 3.6em;
	background:        -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(30%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
	background:    -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
	background:     -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
	background:      -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
	background:     linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
}

#upper-controls {
	width: 100%;
	height: 100%;
}
#upper-controls-inner {
	margin-left: 450px;
	height: 100%;
	overflow: hidden;
}

#upper-controls-inner > div {
	height: 100%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display:inline-block;
	float: left;
}
#view-panel-controls ul {
	list-style: none;
	padding: 0;
	padding-top: 5px;
}
#view-panel-controls button {
	width: 90px;
}

#edit-controls {
	min-width: 500px;
}
#edit-controls > div {
	height: 100%;
	float: left;
}
#edit-controls > div > div {
	margin: auto;
	margin: 5px 10px 0 5px;
	text-align: center;
}
#edit-controls input[type="number"] {
	width: 50px;
	display: inline-block;
	height: 1.7em;
	padding: 0;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
}
#edit-controls button {
	width: 60px;
}
#edit-controls button.short {
	width: 45px;
}
#edit-controls span {
	font-size: 0.9em;
}
#edit-controls #button-delete-time-blocks {
	margin-left: 57px;
}
#edit-controls .click-mode {
	margin-left: 48px;
}
#edit-controls .instrument-context {
	margin-left: 6px;
}

#edit-controls #button-clear-all {
	width: 95px;
}

#instrument-list {
	overflow: auto;
	padding: 0;
}
#add-instrument-controls {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}
#add-instrument-controls > div {
	height: 30px !important;
	display: inline-block;
}
#add-instrument-controls button {
	display: inline-block;
}
#add-instrument-controls .plus,
#add-instrument-controls .minus {
	line-height: 0;
	vertical-align: middle;
}
#add-instrument-controls .plus {
	font-size: 200%;
	color:#0f0;
}
#add-instrument-controls .minus {
	font-size: 300%;
	position: relative;
	top: -3px;
	color: #f00;
}


/* site main ----------------------------------------------------------
 */

#site-main {
}
#site-content-wrapper {
	background-color: #eee;
	height: 100%;
	width: 100%;
	margin-right: -230px;	/* Must be equal to #site-content, #site-right */
	float: left;
}
#site-content {
	width: auto;
	margin-left: 50px;
	margin-right: 230px;	/* Must be equal to #site-content, #site-right */
	background-color: #fff;
}

#grid {
	margin-top: 60px;
	position: relative;
	overflow: auto;
}
#grid-ui-helper {
	position: absolute;
	height: 0;
	width: 0;
}
#grid-ui-helper > div {
	position: absolute;
}
#grid-event-capture-layer-wrapper {
	height: 0;
}
#grid-event-capture-layer {
	cursor: pointer;
	display: inline-block;
	position: relative;
	/* z-index: 100; */
}
.event-layer-row > div {
	height: 20px;
	width: 1760px;
	border-bottom: 1px solid rgba(100,100,100,0.15);
	position: relative;
	z-index: 51;
}
.event-layer-row > div[data-isselected="true"] {
	background-color: rgba(200,200,255,0.5);
}
.event-layer-row:hover {
	background-color: rgba(200,200,200,0.15);
}
.part-control {
	height: 0;
	display: inline-block;
}
#grid-event-capture-layer-columns > div {
	position: absolute;
	height: 100%;
	top: 0;
	width: 20px;
	border-right: 1px solid rgba(100,100,100,0.15);
	z-index: 50;
}

.part-control-inner {
	display: inline-block;
	position: absolute;	/* IE needs absolute - relative won't do */
	width: 1760px;
	background-color: rgba(255,255,255,0.5);
}
.part-control-inner.selected {
	z-index: 20;
}
.part-control-inner.unselected {
	z-index: 5;
}
#part-anchor {
	position: fixed;
	top: 110px;
	width: 50px;
	height: 60px;
	background-color: #eee;
	border:1px solid #ccc;
	cursor: pointer;
}
#part-left {
	position: fixed;
	top: 170px;
	width: 50px;
	background-color: #EEE;
}
#part-left-lower > div {
	height: 20px;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #666;
	font-size: 0.8em;
	text-align: right;
	cursor: pointer;
}
#part-left-lower .time {
	margin-right: 5px;
}
#part-top {
	position: fixed;
	top: 110px;
	margin-left: 50px;
	height: 60px;
	width: 1810px;
	font-size: 0.8em;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
}

#part-top > div {
	width: 20px;
	height: 100%;
	border-right: 1px solid #ccc;
	float: left;
	text-align: center;
}
#part-top > div> div:first-child {
	margin-top: 10px;
	background-color: transparent;
}
#part-top .black-key {
	background-color: #666;
	color: #fff;
}

.g-pitch {
	display: inline-block;
	background-color: inherit;
}
.g-pitch-in {
	display: inline-block;
	height: 100%;
	width: 20px;
	white-space: nowrap;
	background-color: inherit;
}
.g-pitch-in div {
	background-color: inherit;
}
.g-pitch-in .dot {
	width: 19px;
	position: absolute;
	display: inline-block;
	box-shadow: rgba(0,0,0,0.3) 0px 0px 5px 3px inset;
	border: 1px solid #fff;
	border-radius: 5px;
}
.g-pitch-in .dot-in {
	display: inline-block;
}
.g-instrument-inner {
	width: 1760px;
}
.g-instrument-inner.selected .dot {
	display: block;
}
.g-instrument-inner.unselected {
	opacity: 0.5;
}

/* Site right -------------------------------------------
 */

#site-right {
	background-color: #eee;
	height: 100%;
	width: 230px;	/* Must be equal to #site-content, #site-right */
	float: left;
	position: relative;
	z-index: 100;
	box-shadow: rgba(50, 50, 50, 0.5) -2px 0 5px;
}
#player-controls {
	height: 120px;
}
#player-controls .btn-group {
	margin: auto;
}
#playback-buttons-wrapper {
	margin: 1em 0 0.5em 1.5em;
}
#playback-buttons-wrapper .btn {
	float: none !important;
}
#input-playback-bar-wrapper {
	padding: 0.5em 1em;
	overflow: hidden;
}
#button-play-pause {
	border-radius: 10px;
}
#button-to-beginning {
	margin-right: -0.3em;
}
#button-to-end {
	margin-left: -0.35em;
}
#input-playback-bar-wrapper > span {
	display: block;
	float: left;
	padding: 2px;
	position: relative;
	top: -0.1em;
}
#input-playback-bar {
	display: block;
	float: left;
	width: 60%;
}
#instrument-controls-wrapper {
	float: left;
	width: 100%;
}
#instrument-controls {
	width: 100%;
}
.instrument-panel-outer {
	list-style: none;
}
.instrument-panel {
	padding: 1em 0;
	width: 100%;
	text-align: left;
}
.instrument-panel > div {
	width: auto;
	clear: both;
	width: 100%;
	text-align: center;
}
.instrument-panel input[type="text"] {
	padding: 0.2em;
	line-height: 1em;
	height: 1.5em;
	width: 165px;
	display: inline-block;
}
.instrument-panel select {
	display: inline-block;
	padding: 0;
	height: 2em;
	width: 190px;
	font-size: 0.8em;
	margin-top: 0.5em;
}
.instrument-panel select > optgroup,
.instrument-panel select > option {
	font-size: 1.2em;
}
.instrument-panel .color-picker-facade {
	height: 20px;
	width: 20px;
	display: inline-block;
	position: relative;
	top: -5px;
	margin-bottom: -5px;
	box-shadow: rgba(0,0,0,0.3) 0px 0px 5px 3px inset;
	border: 1px solid #fff;
	border-radius: 5px;
	cursor: pointer;
}
.instrument-panel .color-picker-facade input {
	opacity: 0;
	position: relative;
	height: 0;
	width: 0;
	z-index: -100;
}

.instrument-panel .volume-control input[type="number"],
.instrument-panel .sustain-velocity input[type="number"] {
	width: 50px;
	display: inline-block;
	height: 2em;
	padding: 0;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 0.9em;
	vertical-align: middle;
}
.instrument-panel .volume-control input[type="range"] {
	width: 75px;
	margin-left: 10px;
	display: inline-block;
	position: relative;
	top: 5px;
}
.instrument-panel .volume-control,
.instrument-panel .sustain-velocity {
	font-size: 0.9em;
	padding-top: 2px;
}
.instrument-panel .sustain-velocity span:first-child {
	position: relative;
	left: -8px;
}
.instrument-panel .sustain-velocity input[type="checkbox"] {
	position: relative;
	top: 4px;
	margin-left: 40px;
}

.instrument-panel [data-binding="is-muted"] {
	position: relative;
	top: -1px;
}
.instrument-panel .volume-control,
.instrument-panel .sustain-velocity {
	padding-top: 3px;
}

#site-bottom {
	background-color: #eee;
	border: 1px solid #aaa;
	height: 25px;
	position: relative;
	z-index: 20;
}
#site-bottom.expanded {
	height: 100px;
}

/* Repetitive stuff ----------------------------------------------
 */
[data-pitch="0"] { left: 0px; }
[data-pitch="1"] { left: 20px; }
[data-pitch="2"] { left: 40px; }
[data-pitch="3"] { left: 60px; }
[data-pitch="4"] { left: 80px; }
[data-pitch="5"] { left: 100px; }
[data-pitch="6"] { left: 120px; }
[data-pitch="7"] { left: 140px; }
[data-pitch="8"] { left: 160px; }
[data-pitch="9"] { left: 180px; }
[data-pitch="10"] { left: 200px; }
[data-pitch="11"] { left: 220px; }
[data-pitch="12"] { left: 240px; }
[data-pitch="13"] { left: 260px; }
[data-pitch="14"] { left: 280px; }
[data-pitch="15"] { left: 300px; }
[data-pitch="16"] { left: 320px; }
[data-pitch="17"] { left: 340px; }
[data-pitch="18"] { left: 360px; }
[data-pitch="19"] { left: 380px; }
[data-pitch="20"] { left: 400px; }
[data-pitch="21"] { left: 420px; }
[data-pitch="22"] { left: 440px; }
[data-pitch="23"] { left: 460px; }
[data-pitch="24"] { left: 480px; }
[data-pitch="25"] { left: 500px; }
[data-pitch="26"] { left: 520px; }
[data-pitch="27"] { left: 540px; }
[data-pitch="28"] { left: 560px; }
[data-pitch="29"] { left: 580px; }
[data-pitch="30"] { left: 600px; }
[data-pitch="31"] { left: 620px; }
[data-pitch="32"] { left: 640px; }
[data-pitch="33"] { left: 660px; }
[data-pitch="34"] { left: 680px; }
[data-pitch="35"] { left: 700px; }
[data-pitch="36"] { left: 720px; }
[data-pitch="37"] { left: 740px; }
[data-pitch="38"] { left: 760px; }
[data-pitch="39"] { left: 780px; }
[data-pitch="40"] { left: 800px; }
[data-pitch="41"] { left: 820px; }
[data-pitch="42"] { left: 840px; }
[data-pitch="43"] { left: 860px; }
[data-pitch="44"] { left: 880px; }
[data-pitch="45"] { left: 900px; }
[data-pitch="46"] { left: 920px; }
[data-pitch="47"] { left: 940px; }
[data-pitch="48"] { left: 960px; }
[data-pitch="49"] { left: 980px; }
[data-pitch="50"] { left: 1000px; }
[data-pitch="51"] { left: 1020px; }
[data-pitch="52"] { left: 1040px; }
[data-pitch="53"] { left: 1060px; }
[data-pitch="54"] { left: 1080px; }
[data-pitch="55"] { left: 1100px; }
[data-pitch="56"] { left: 1120px; }
[data-pitch="57"] { left: 1140px; }
[data-pitch="58"] { left: 1160px; }
[data-pitch="59"] { left: 1180px; }
[data-pitch="60"] { left: 1200px; }
[data-pitch="61"] { left: 1220px; }
[data-pitch="62"] { left: 1240px; }
[data-pitch="63"] { left: 1260px; }
[data-pitch="64"] { left: 1280px; }
[data-pitch="65"] { left: 1300px; }
[data-pitch="66"] { left: 1320px; }
[data-pitch="67"] { left: 1340px; }
[data-pitch="68"] { left: 1360px; }
[data-pitch="69"] { left: 1380px; }
[data-pitch="70"] { left: 1400px; }
[data-pitch="71"] { left: 1420px; }
[data-pitch="72"] { left: 1440px; }
[data-pitch="73"] { left: 1460px; }
[data-pitch="74"] { left: 1480px; }
[data-pitch="75"] { left: 1500px; }
[data-pitch="76"] { left: 1520px; }
[data-pitch="77"] { left: 1540px; }
[data-pitch="78"] { left: 1560px; }
[data-pitch="79"] { left: 1580px; }
[data-pitch="80"] { left: 1600px; }
[data-pitch="81"] { left: 1620px; }
[data-pitch="82"] { left: 1640px; }
[data-pitch="83"] { left: 1660px; }
[data-pitch="84"] { left: 1680px; }
[data-pitch="85"] { left: 1700px; }
[data-pitch="86"] { left: 1720px; }
[data-pitch="87"] { left: 1740px; }


/* This is quite costly when the browser re-renders, but this setting should be rarely touched once set.
   Eventually these should be baked into PNGs to skirt this whole issue
 */
/*
#part-controls[data-bpb="4"] .event-layer-row:nth-child(4n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="5"] .event-layer-row:nth-child(5n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="6"] .event-layer-row:nth-child(6n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="7"] .event-layer-row:nth-child(7n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="8"] .event-layer-row:nth-child(8n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="9"] .event-layer-row:nth-child(9n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="10"] .event-layer-row:nth-child(10n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="11"] .event-layer-row:nth-child(11n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="12"] .event-layer-row:nth-child(12n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="13"] .event-layer-row:nth-child(13n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="14"] .event-layer-row:nth-child(14n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="15"] .event-layer-row:nth-child(15n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="16"] .event-layer-row:nth-child(16n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="17"] .event-layer-row:nth-child(17n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="18"] .event-layer-row:nth-child(18n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="19"] .event-layer-row:nth-child(19n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="20"] .event-layer-row:nth-child(20n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="21"] .event-layer-row:nth-child(21n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="22"] .event-layer-row:nth-child(22n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="23"] .event-layer-row:nth-child(23n+1) { background-color: rgba(200,200,200,0.15); }
#part-controls[data-bpb="24"] .event-layer-row:nth-child(24n+1) { background-color: rgba(200,200,200,0.15); }
*/

