@font-face {
    font-family: vibrocen;
    src: url("../fonts/vibrocen.ttf") format("truetype"),
         url("../fonts/vibrocen.woff") format("woff"),
         url("../fonts/vibrocen.eof") format("eof"),
         url("../fonts/vibrocen.svg") format("svg");
}

html, body { overflow: hidden; }

legend {
	font-size: 1em;
}

/* site top ---------------------------------------------------
 */

#site-top {
	background-color: #eee;
	border: 1px solid #aaa;
	height: 110px;
	position: relative;
	z-index: 101;
	box-shadow: rgba(50,50,50,0.5) 0 2px 5px;
}

.nav-header,
.nav-footer {
	padding: 3px 1.5em;
	margin: 0 !important;
	width: 100% !important;
	height: 20px !important;
	text-align: left !important;
	border-bottom: 1px solid #fff;
	box-shadow: #464646 0 2px 4px inset;
	color: #fff;
	background-color: #666;
	font-size: 0.8em !important;
}
.nav-footer {
	padding: 3px;
}
.nav-header button,
.nav-header button:hover,
.nav-header button:focus {
	float: right;
	margin-right: -5px;
	top: -2px;
	background: transparent;
	color: #ccc;
}
.nav-header button:hover {
	color: #fff;
	background: #888;
}

.nav-panel {
	color: #666;
	font-size: 0.9em;
}
#permanent-top {
	float: left;
	height: 100%;
}
#permanent-top > div {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

#logo {
	background-image: url("../img/synth-logo-small.png");
	width: 250px;
	height: 110px;
}
#logo .inner {
	display: none;
}

/*
#logo {
	font-size: 1.1em;
	height: 100%;
	font-family: vibrocen;
	font-style: italic;
	text-align: center;
}
#logo .inner {
	margin: auto;
	padding: 0 2em;
	height: 100%;
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(240,33%,20%)), color-stop(50%,hsl(240,33%,20%)), color-stop(45%,hsla(240,100%,60%, 0.5)));
	background: -webkit-linear-gradient(top, hsl(240,33%,20%) 0%, hsl(240,33%,20%) 50%, hsla(240,100%,60%, 0.5) 56%);
	background:    -moz-linear-gradient(top, hsl(240,33%,20%) 0%, hsl(240,33%,20%) 50%, hsla(240,100%,60%, 0.5) 56%);
	background:     -ms-linear-gradient(top, hsl(240,33%,20%) 0%, hsl(240,33%,20%) 50%, hsla(240,100%,60%, 0.5) 56%);
	background:      -o-linear-gradient(top, hsl(240,33%,20%) 0%, hsl(240,33%,20%) 50%, hsla(240,100%,60%, 0.5) 56%);
	background:   linear-gradient(to bottom, hsl(240,33%,20%) 0%, hsl(240,33%,20%) 50%, hsla(240,100%,60%, 0.5) 56%);
	box-shadow: rgba(50,50,50,0.5) 0.1em 0.1em 0.1em inset, rgba(50,50,50,0.5) -0.1em -0.1em 0.1em inset;
	background-color: #224;
}
#logo .title {
	position: relative;
	top: 0.05em;
	font-size: 3.5em;
	font-weight: bold;
	color: #eee;
	text-shadow: hsla(240, 33%, 20%, 0.5) 0.02em 0.02em 0.01em, hsla(341, 84%, 58%, 0.9) 0 0 1em;
}
#logo .s {
	position: relative;
	left: 0.3em;
}
#logo .h {
	position: relative;
	left: -0.3em;
}
#logo .ynt {
	font-size: 0.65em;
	position: relative;
}
#logo .js {
	font-size: 0.4em;
	position: relative;
	left: -1.1em;
	top: -0.9em;
	color: hsl(233, 58%, 45%);
	text-shadow: rgba(50,50,50,0.3) 0.1em 0.1em 0.1em;
}
#logo .subtitle {
	font-size: 1.1em;
	color: #ccc;
	position: absolute;
	top: 3.1em;
	left: 2.7em;
	text-shadow: rgba(50,50,50,0.5) 0.08em 0.08em 0.01em;
}
#logo .sub {
	font-size: 0.7em;
	position: relative;
	left: -0.4em;
	margin-right: -0.2em;
}
#logo .note {
	position: absolute;
	font-size: 2.9em;
	line-height: 0;
	top: 1.4em;
	left: 3.75em;
	color: hsl(341, 84%, 58%);
	text-shadow: rgba(50,50,50,0.5) 0.1em 0.1em 0.01em;
}
#logo .line {
	min-height: 1px;
	height: 0.01em;
	width: 15em;
	margin: auto;
	position: absolute;
	left: 0.5em;
	top: 3.6em;
	background:        -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(30%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
	background:    -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
	background:     -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
	background:      -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
	background:     linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
}
*/

#upper-controls {
	width: 100%;
	height: 100%;
}
#upper-controls-inner {
	margin-left: 450px;
	height: 100%;
	overflow: hidden;
}

#upper-controls-inner > div {
	height: 100%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display:inline-block;
	float: left;
}
#view-panel-controls ul {
	list-style: none;
	padding: 0;
	padding-top: 5px;
}
#view-panel-controls button {
	width: 90px;
}
#view-panel-controls .btn-group button {
	width: 45px;
}

#edit-controls {
	min-width: 500px;
}
#edit-controls > div {
	height: 100%;
	float: left;
}
#edit-controls > div > div {
	margin: auto;
	margin: 5px 10px 0 5px;
	text-align: center;
}
#edit-controls input[type="number"] {
	width: 50px;
	display: inline-block;
	height: 1.7em;
	padding: 0;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
}
#edit-controls button {
	width: 60px;
}
#edit-controls button.short {
	width: 45px;
}
#edit-controls span {
	font-size: 0.9em;
}
#edit-controls #button-delete-time-blocks {
	margin-left: 57px;
}
#edit-controls .click-mode {
	margin-left: 48px;
}
#edit-controls .instrument-context {
	margin-left: 6px;
}

#edit-controls #button-clear-all {
	width: 95px;
}

#instrument-list {
	overflow: auto;
	padding: 0;
}
#add-instrument-controls {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}
#add-instrument-controls > div {
	height: 30px !important;
	display: inline-block;
}
#add-instrument-controls button {
	display: inline-block;
}
#add-instrument-controls .plus,
#add-instrument-controls .minus {
	line-height: 0;
	vertical-align: middle;
}
#add-instrument-controls .plus {
	font-size: 200%;
	color:#0f0;
}
#add-instrument-controls .minus {
	font-size: 300%;
	position: relative;
	top: -3px;
	color: #f00;
}


/* site main ----------------------------------------------------------
 */

#site-main {
}
#site-content-wrapper {
	background-color: #eee;
	height: 100%;
	width: 100%;
	margin-right: -230px;	/* Must be equal to #site-content, #site-right */
	float: left;
}
#site-content {
	width: auto;
	margin-left: 70px;
	margin-right: 230px;	/* Must be equal to #site-content, #site-right */
	background-color: #fff;
}

#grid {
	margin-top: 60px;
	position: relative;
	overflow: auto;
}
#grid-ui-helper {
	position: absolute;
	height: 0;
	width: 0;
}
#grid-ui-helper > div {
	position: absolute;
}
#grid-event-capture-layer-wrapper {
	height: 0;
}
#grid-event-capture-layer {
	cursor: pointer;
	display: inline-block;
	position: relative;
	white-space: nowrap;
}
.event-layer-column {
	display: inline-block;
}
.event-layer-column > div {
	display: inline-block;
	height: 1760px;
	width: 20px;
	border-right: 1px solid rgba(100,100,100,0.15);
	position: relative;
	z-index: 51;
}
.event-layer-column > div[data-isselected="true"] {
	background-color: rgba(200,200,255,0.5);
}
.event-layer-column:hover {
	background-color: rgba(200,200,200,0.15);
}
.part-control {
	height: 0;
	display: inline-block;
}
#grid-event-capture-layer-rows > div {
	position: absolute;
	height: 20px;
	left: 0;
	width: 100%;
	border-bottom: 1px solid rgba(100,100,100,0.15);
	z-index: 50;
}

.part-control-inner {
	display: inline-block;
	position: absolute;	/* IE needs absolute - relative won't do */
	width: 1760px;
	background-color: rgba(255,255,255,0.5);
}
.part-control-inner.selected {
	z-index: 20;
}
.part-control-inner.unselected {
	z-index: 5;
}
#part-anchor {
	position: fixed;
	top: 110px;
	width: 70px;
	height: 60px;
	background-color: #eee;
	border:1px solid #ccc;
	cursor: pointer;
}

#part-top {
	position: fixed;
	top: 110px;
	margin-left: 70px;
	height: 60px;
	font-size: 0.8em;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
	white-space: nowrap;
}
#part-top > div {
	width: 20px;
	height: 100%;
	display: inline-block;
	border-right: 1px solid #ccc;
}
#part-top .time {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	padding-top: 40px;
	color: #666;
}
#part-left {
	position: fixed;
	top: 170px;
	width: 70px;
	background-color: #EEE;
}
#part-left-lower > div {
	height: 20px;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #666;
	font-size: 0.8em;
	text-align: right;
	cursor: pointer;
}
#part-left-lower > div {
	height: 20px;
	width: 100%;
	border-right: 1px solid #ccc;
	float: left;
	text-align: center;
}
#part-left-lower > div > div {
	display: inline-block;
	width: 15px;
}
#part-left-lower > div > div:first-child {
	margin-left: 10px;
	background-color: transparent;
}
#part-left-lower .num {
}
#part-left .black-key {
	background-color: #666;
	color: #fff;
}

.g-pitch {
	background-color: inherit;
}
.g-pitch-in {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 20px;
	white-space: nowrap;
	background-color: inherit;
}
.g-pitch-in div {
	background-color: inherit;
}
.g-pitch-in .dot {
	height: 19px;
	position: absolute;
	display: inline-block;
	box-shadow: rgba(0,0,0,0.3) 0px 0px 5px 3px inset;
	border: 1px solid #fff;
	border-radius: 5px;
}
.g-pitch-in .dot-in {
	display: inline-block;
}
.g-instrument-inner {
	width: 0;
	height: 1760px;
}
.g-instrument-inner.selected .dot {
	display: block;
}
.g-instrument-inner.unselected {
	opacity: 0.5;
}

/* Site right -------------------------------------------
 */

#site-right {
	background-color: #eee;
	height: 100%;
	width: 230px;	/* Must be equal to #site-content, #site-right */
	float: left;
	position: relative;
	z-index: 100;
	box-shadow: rgba(50, 50, 50, 0.5) -2px 0 5px;
}
#metadata-controls > .form {
	margin: 0.5em 0;
}
#metadata-controls input[type="text"] {
	margin: 0.2em 1em;
	width: 200px;
	font-size: 0.9em;
	display: inline-block;
	height: 2em;
	padding: 0 0.5em;
}
#player-controls {
	height: 140px;
}
#player-controls .btn-group {
	margin: auto;
}
#player-controls .btn-group button {
	width: 47px;
}
#player-controls > div {
	margin: 1em;
	font-size: 0.9em;
}
#input-playback-bar-wrapper > span {
	display: block;
	float: left;
	padding: 2px;
	position: relative;
	top: -0.1em;
}
#input-playback-bar {
	display: block;
	float: left;
	width: 90px;
	margin-left: 15px;
}
#instrument-controls-wrapper {
	height: 100%;
	width: 100%;
}
#player-controls input[type="number"] {
	width: 50px;
	display: inline-block;
	height: 2em;
	padding: 0;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 0.9em;
	vertical-align: middle;
	margin-left: 5px;
}
#player-controls .speed {
	position: relative;
	top: -5px;
	font-size: 0.9em;
	left: 2px;
}

#instrument-controls {
	width: 100%;
}
.instrument-panel-outer {
	list-style: none;
}
.instrument-panel {
	padding: 1em 0;
	width: 100%;
	text-align: left;
}
.instrument-panel > div {
	width: auto;
	clear: both;
	width: 100%;
	text-align: center;
}
.instrument-panel input[type="text"] {
	padding: 0.2em;
	line-height: 1em;
	height: 1.5em;
	width: 165px;
	display: inline-block;
}
.instrument-panel select {
	display: inline-block;
	padding: 0;
	height: 2em;
	width: 190px;
	font-size: 0.8em;
	margin-top: 0.5em;
}
.instrument-panel select > optgroup,
.instrument-panel select > option {
	font-size: 1.2em;
}
.instrument-panel .color-picker-facade {
	height: 20px;
	width: 20px;
	display: inline-block;
	position: relative;
	top: -5px;
	margin-bottom: -5px;
	box-shadow: rgba(0,0,0,0.3) 0px 0px 5px 3px inset;
	border: 1px solid #fff;
	border-radius: 5px;
	cursor: pointer;
}
.instrument-panel .color-picker-facade input {
	opacity: 0;
	position: relative;
	height: 0;
	width: 0;
	z-index: -100;
}

.instrument-panel .volume-control input[type="number"],
.instrument-panel .sustain-velocity input[type="number"] {
	width: 50px;
	display: inline-block;
	height: 2em;
	padding: 0;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 0.9em;
	vertical-align: middle;
}
.instrument-panel .volume-control input[type="range"] {
	width: 75px;
	margin-left: 10px;
	display: inline-block;
	position: relative;
	top: 5px;
}
.instrument-panel .volume-control,
.instrument-panel .sustain-velocity {
	font-size: 0.9em;
	padding-top: 2px;
}
.instrument-panel .sustain-velocity span:first-child {
	position: relative;
	left: -8px;
}
.instrument-panel .sustain-velocity input[type="checkbox"] {
	position: relative;
	top: 4px;
	margin-left: 40px;
}

.instrument-panel [data-binding="is-muted"] {
	position: relative;
	top: -1px;
}
.instrument-panel .volume-control,
.instrument-panel .sustain-velocity {
	padding-top: 3px;
}

#site-bottom {
	background-color: #eee;
	border: 1px solid #aaa;
	height: 25px;
	position: relative;
	z-index: 20;
}
#site-bottom.expanded {
	height: 100px;
}

/* Modals -------------------------------------------
 */
#save-modal .btn-group,
#load-modal .btn-group {
	margin: 10px 0;
}

#tab-body-modal-save-tofile input[type="text"] {
	width: 300px;
	display: inline-block;
}

#load-raw-json,
#save-raw-json {
	width: 100%;
	height: 400px;
}

.tab-pane {
	padding: 10px;
}

/* Repetitive stuff ----------------------------------------------
 */
[data-pitch="0"] { top: 1740px; }
[data-pitch="1"] { top: 1720px; }
[data-pitch="2"] { top: 1700px; }
[data-pitch="3"] { top: 1680px; }
[data-pitch="4"] { top: 1660px; }
[data-pitch="5"] { top: 1640px; }
[data-pitch="6"] { top: 1620px; }
[data-pitch="7"] { top: 1600px; }
[data-pitch="8"] { top: 1580px; }
[data-pitch="9"] { top: 1560px; }
[data-pitch="10"] { top: 1540px; }
[data-pitch="11"] { top: 1520px; }
[data-pitch="12"] { top: 1500px; }
[data-pitch="13"] { top: 1480px; }
[data-pitch="14"] { top: 1460px; }
[data-pitch="15"] { top: 1440px; }
[data-pitch="16"] { top: 1420px; }
[data-pitch="17"] { top: 1400px; }
[data-pitch="18"] { top: 1380px; }
[data-pitch="19"] { top: 1360px; }
[data-pitch="20"] { top: 1340px; }
[data-pitch="21"] { top: 1320px; }
[data-pitch="22"] { top: 1300px; }
[data-pitch="23"] { top: 1280px; }
[data-pitch="24"] { top: 1260px; }
[data-pitch="25"] { top: 1240px; }
[data-pitch="26"] { top: 1220px; }
[data-pitch="27"] { top: 1200px; }
[data-pitch="28"] { top: 1180px; }
[data-pitch="29"] { top: 1160px; }
[data-pitch="30"] { top: 1140px; }
[data-pitch="31"] { top: 1120px; }
[data-pitch="32"] { top: 1100px; }
[data-pitch="33"] { top: 1080px; }
[data-pitch="34"] { top: 1060px; }
[data-pitch="35"] { top: 1040px; }
[data-pitch="36"] { top: 1020px; }
[data-pitch="37"] { top: 1000px; }
[data-pitch="38"] { top: 980px; }
[data-pitch="39"] { top: 960px; }
[data-pitch="40"] { top: 940px; }
[data-pitch="41"] { top: 920px; }
[data-pitch="42"] { top: 900px; }
[data-pitch="43"] { top: 880px; }
[data-pitch="44"] { top: 860px; }
[data-pitch="45"] { top: 840px; }
[data-pitch="46"] { top: 820px; }
[data-pitch="47"] { top: 800px; }
[data-pitch="48"] { top: 780px; }
[data-pitch="49"] { top: 760px; }
[data-pitch="50"] { top: 740px; }
[data-pitch="51"] { top: 720px; }
[data-pitch="52"] { top: 700px; }
[data-pitch="53"] { top: 680px; }
[data-pitch="54"] { top: 660px; }
[data-pitch="55"] { top: 640px; }
[data-pitch="56"] { top: 620px; }
[data-pitch="57"] { top: 600px; }
[data-pitch="58"] { top: 580px; }
[data-pitch="59"] { top: 560px; }
[data-pitch="60"] { top: 540px; }
[data-pitch="61"] { top: 520px; }
[data-pitch="62"] { top: 500px; }
[data-pitch="63"] { top: 480px; }
[data-pitch="64"] { top: 460px; }
[data-pitch="65"] { top: 440px; }
[data-pitch="66"] { top: 420px; }
[data-pitch="67"] { top: 400px; }
[data-pitch="68"] { top: 380px; }
[data-pitch="69"] { top: 360px; }
[data-pitch="70"] { top: 340px; }
[data-pitch="71"] { top: 320px; }
[data-pitch="72"] { top: 300px; }
[data-pitch="73"] { top: 280px; }
[data-pitch="74"] { top: 260px; }
[data-pitch="75"] { top: 240px; }
[data-pitch="76"] { top: 220px; }
[data-pitch="77"] { top: 200px; }
[data-pitch="78"] { top: 180px; }
[data-pitch="79"] { top: 160px; }
[data-pitch="80"] { top: 140px; }
[data-pitch="81"] { top: 120px; }
[data-pitch="82"] { top: 100px; }
[data-pitch="83"] { top: 80px; }
[data-pitch="84"] { top: 60px; }
[data-pitch="85"] { top: 40px; }
[data-pitch="86"] { top: 20px; }
[data-pitch="87"] { top: 0px; }

