<html>

<div class="template" id="template-base">
	<div id="modals">
		<!-- modal widgets go here -->
	</div>
	<div id="site-top">
		<div id="permanent-top">
			<div id="logo">
				<div class="inner">
					<div class="title">
						<span class="s">S</span>
						<span class="ynt">YNT</span>
						<span class="h">H</span>
						<span class="js">JS</span>
					</div>
					<div class="line"></div>
					<div class="subtitle">
						<span>M</span>
						<span class="sub">USIC</span>
						<span>M</span>
						<span class="sub">ADE</span>
						<span>Q</span>
						<span class="sub">UICK</span>
					</div>
					<span class="note">&#9834;</span>
				</div>
			</div>
			<div id="view-panel-controls">
				<ul>
					<li><button id="button-toggle-edit-panel" class="btn btn-default btn-xs">Edit</button></li>
					<li><button id="button-toggle-view-panel" class="btn btn-default btn-xs">View</button></li>
					<li>
						<span class="btn-group">
							<button id="button-toggle-load-panel" class="btn btn-default btn-xs" data-toggle="modal" data-target="#load-modal">Load</button>
							<button id="button-toggle-save-panel" class="btn btn-default btn-xs" data-toggle="modal" data-target="#save-modal">Save</button>
						</span>
					</li>
					<li><button id="button-toggle-tween-panel" class="btn btn-default btn-xs" disabled="disabled">Tween</button></li>
				</ul>
			</div>
			<div id="key-buttons">
				<span class="btn-group">
					<button id="button-undo" class="btn btn-default btn-xs">Undo</button>
					<button id="button-redo" class="btn btn-default btn-xs">Redo</button>
				</span>
			</div>
		</div>
		<div id="upper-controls">
			<div id="upper-controls-inner">
				<div id="edit-controls"><!-- template-edit-panel --></div>
				<div id="view-controls"><!-- template-view-panel --></div>
				<div id="import-export-controls"><!-- TODO --></div>
			</div>
		</div>
	</div>
	<div id="site-main">
		<div id="site-left"></div>
		<div id="site-content-wrapper">
			<div id="site-content">
				<div id="grid">
					<div id="grid-event-capture-layer-wrapper">
						<div id="grid-event-capture-layer">
							<div id="grid-ui-helper"></div>
							<!-- event capture layer -->
							<div id="grid-event-capture-layer-rows"><!-- event capture layer columns --></div>
						</div>
					</div>
					<div id="grid-instruments"><!-- part control --></div>
				</div>
			</div>
			<div id="part-top"></div>
			<div id="part-left">
				<div id="part-anchor"></div>
				<div id="part-left-lower"></div>
			</div>
		</div>
		<div id="site-right">
			<div id="site-right-top-controls">
			<div id="metadata-controls"><!-- template-metadata-panel --></div>
			<div id="player-controls"><!-- template-playback-panel --></div>
			</div>
			<div id="instrument-controls-wrapper">
				<div class="nav-header">Instruments</div>
				<div id="instrument-controls">
					<div id="add-instrument-controls"></div>
					<ul id="instrument-list">
						<!-- template-instrument-controls -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="site-bottom"></div>
</div>

<!-- panel templates -->

<!-- top bar panel templates -->

<div class="template" id="template-add-instrument-panel">
	<div class="nav-footer">
		<button id="button-add-instrument" class="btn btn-default btn-xs">Add&nbsp;<span class="plus">+</span></button>
		<button id="button-remove-selected-instrument" class="btn btn-default btn-xs">Remove selected&nbsp;<span class="minus">-</span></button>
	</div>
</div>

<ul class="template" id="template-instrument-panel">
	<li class="instrument-panel-outer">
		<div class="instrument-panel btn btn-default" data-bind="id">
			<div>
				<div class="color-picker-facade">
					<input data-bind="displayed-color" type="color"></input>
				</div>
				<input type="text" data-bind="name" class="form-control"></input>
			</div>
			<div>
				<select class="instrument-select form-control"></select>
			</div>
			<div class="volume-control">
				<span>Vol</span>
				<input type="range" data-bind="volume" min="0" max="1000"></input>
				<input type="number" data-bind="volume-val" class="form-control" min="0" max="1000"></input>
				<button data-bind="is-muted" class="btn btn-default btn-xs glyphicon glyphicon-volume-up"></button>
			</div>
			<div class="sustain-velocity">
				<span>Sustain</span>
				<input type="checkbox" data-bind="sustain-on-off"></input>
				<input type="number" min="0" max="9999" data-bind="sustain-duration" class="form-control"></input>
				<span>ms</span>
			</div>
		</div>
	</li>
</ul>

<div class="template" id="template-edit-panel">
	<div>
		<div class="nav-header">Edit - General</div>
		<div>
			<span class="click-mode">Click mode</span>
			<span class="btn-group">
				<button class="btn btn-default btn-xs" disabled="disabled">Edit</button>
				<button class="btn btn-default btn-xs" disabled="disabled">Select</button>
			</span>
		</div>
		<div>
			<span class="instrument-context">Instrument context</span>
			<span class="btn-group">
				<button class="btn btn-default btn-xs" disabled="disabled">Active</button>
				<button class="btn btn-default btn-xs" disabled="disabled">All</button>
			</span>
		</div>
		<div>
			<span class="btn-group">
				<button class="btn btn-default btn-xs" disabled="disabled">Copy</button>
				<button class="btn btn-default btn-xs" disabled="disabled">Cut</button>
				<button class="btn btn-default btn-xs" disabled="disabled">Clear</button>
				<button class="btn btn-default btn-xs" disabled="disabled">Paste</button>
			</span>			
		</div>
	</div>
	<div>
		<div class="nav-header">Grid</div>
		<div>
			<span>Selection</span>
			<span class="btn-group">
				<button id="button-select-all" class="btn btn-default btn-xs" disabled="disabled">Select all</button>
				<button id="button-clear-all" class="btn btn-default btn-xs" disabled="disabled">Clear selection</button>
			</span>
		</div>
		<div>
			<span class="btn-group">
				<button id="button-append-time-blocks" class="btn btn-default btn-xs">Append</button>
				<button id="button-insert-time-blocks" class="btn btn-default btn-xs">Insert</button>
			</span>
			<input id="time-blocks-per-add" min="1" max="200" type="number" class="form-control"></input>
			<span>col(s)</span>
		</div>
		<div>
			<button id="button-delete-time-blocks" class="btn btn-default btn-xs">Delete</button>
			<span>selected col(s)</span>
		</div>
	</div>	
</div>

<!-- right bar panel templates -->

<div class="template" id="template-metadata-panel">
	<div class="nav-header">Metadata<button class="btn btn-xs glyphicon glyphicon-chevron-down collapsed"></button></div>
	<div class="form">
		<div><input placeholder="Title" data-toggle="tooltip" data-placement="left" title="Title" type="text" data-bind="metadata-title" class="form-control"></input></div>
		<div id="metadata-collapsibles">
			<div><input placeholder="Composer" data-toggle="tooltip" data-placement="left" title="Composer" type="text" data-bind="metadata-composer" class="form-control"></input></div>
			<div><input placeholder="Arranger" data-toggle="tooltip" data-placement="left" title="Arranger" type="text" data-bind="metadata-arranger" class="form-control"></input></div>
			<div><input placeholder="Artists" data-toggle="tooltip" data-placement="left" title="Artists" type="text" data-bind="metadata-artists" class="form-control"></input></div>
			<div><input placeholder="From" data-toggle="tooltip" data-placement="left" title="Where this piece is originally from (movie, concert, etc.)" type="text" data-bind="metadata-from" class="form-control"></input></div>
			<div><input placeholder="SYNTHer" data-toggle="tooltip" data-placement="left" title="Who SYNTHed this - This is probably you!" type="text" data-bind="metadata-synther" class="form-control"></input></div>
			<div><input placeholder="Date" data-toggle="tooltip" data-placement="left" title="Date" type="text" data-bind="metadata-date" class="form-control"></input></div>
		</div>
	</div>
</div>

<div class="template" id="template-playback-panel">
	<div class="nav-header">Playback</div>
	<div id="playback-buttons-wrapper">
		<span class="btn-group">
			<button id="button-to-beginning"
				class="btn btn-default glyphicon glyphicon-fast-backward"></button>
			<button id="button-play-pause" type="button" class="btn btn-default"></button>
			<button id="button-to-end"
				class="btn btn-default glyphicon glyphicon-fast-forward"></button>
		</span>
		<span>
			<button id="button-loop" class="btn btn-default glyphicon glyphicon-repeat"></button>
		</span> 
	</div>

	<div id="input-playback-bar-wrapper" class="nav-panel">
		<span>Seek</span>
		<input id="input-playback-bar" type="range" min="1"></input>
		<input type="number" data-attr="current-time" class="form-control"></input>
	</div>
	
	<div class="speed">
		<span>Speed</span>
		<input type="number" data-attr="current-speed" class="form-control"></input>
		<span>ms</span>
	</div>
</div>

<!-- modals -->

<div class="template" id="template-load-modal">
	<div class="modal fade" id="load-modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Load data</h4>
				</div>
				<div class="modal-body">
				
					<ul class="nav nav-tabs">
						<li><a href="#tab-body-modal-load-samples" data-toggle="tab">Samples</a></li>
						<li><a href="#tab-body-modal-load-fromfile" data-toggle="tab">From file</a></li>
						<li><a href="#tab-body-modal-load-fromjson" data-toggle="tab">From raw JSON</a></li>
					</ul>
					
					<div class="tab-content">
					
						<div class="tab-pane" id="tab-body-modal-load-samples">
							TODO
						</div>
						
						<div class="tab-pane" id="tab-body-modal-load-fromfile">
							<div id="load-warning"></div>
							<input type="file" id="load-input-file-load"></input>
							<span class="btn-group">
								<button class="btn btn-default btn-sm" id="load-button-load-file">Load</button>
							</span>
						</div>
						
						<div class="tab-pane" id="tab-body-modal-load-fromjson">
							<span class="btn-group">
								<button class="btn btn-default btn-sm" id="load-parse-json">Load</button>
								<button class="btn btn-default btn-sm" id="load-clear-all">Clear</button>
							</span>
							<textarea id="load-raw-json" class="form-control"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="template" id="template-save-modal">
	<div class="modal fade" id="save-modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Save data</h4>
				</div>
				<div class="modal-body">
				
					<ul class="nav nav-tabs">
						<li><a href="#tab-body-modal-save-tofile" data-toggle="tab">To file</a></li>
						<li><a href="#tab-body-modal-save-rawjson" data-toggle="tab">Raw JSON</a></li>
					</ul>
					
					<div class="tab-content">
						
						<div class="tab-pane" id="tab-body-modal-save-tofile">
							<div id="save-warning"></div>
							<div>This will save to your default download directory.</div>
							<button class="btn btn-default btn-sm" id="save-button-save-file">Save as</button>
							<input id="save-input-file-name" type="text" class="form-control"></input>
							<span>.txt</span>
						</div>
						
						<div class="tab-pane" id="tab-body-modal-save-rawjson">
							<span class="btn-group">
								<button class="btn btn-default btn-sm" id="save-get-json">Get JSON</button>
								<button class="btn btn-default btn-sm" id="save-select-all">Select all</button>
								<button class="btn btn-default btn-sm" id="save-clear-all">Clear</button>
							</span>
							<textarea id="save-raw-json" class="form-control" readonly="readonly"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Grid templates -->
<div class="template" id="template-grid-event-capture-layer-column">
	<div class="event-layer-column">
		<div></div>
	</div>
</div>

<!-- TODO deprecate -->
<div class="template" id="template-grid-event-capture-layer-row">
	<div class="event-layer-row">
		<div></div>
	</div>
</div>

<div class="template" id="template-grid-instrument">
	<div class="g-instrument">
		<div class="g-instrument-inner"></div>
	</div>
</div>
<div class="template" id="template-note">
	<div>
		<div class="dot">
			<div class="dot-in"></div>
		</div>
	</div>
</div>


<div class="template" id="template-beat-time">
	<div>
		<div class="time"></div>
	</div>
</div>

<div class="template" id="template-grid-pitch">
	<div class="g-pitch">
		<div class="g-pitch-in">
		</div>

	</div>
</div>

<!-- alerts -->

<div class="template" id="template-no-save-file-support">
	<div class="alert alert-warning">
		<span>Your browser does not support saving files generated from SynthJS. Use save to raw JSON
		 instead - copy the text and save it into a plaintext file (.txt or .json are fine). The 
		 easier way would be to use up-to-date browsers (try Chrome / Firefox) which support this feature.
		</span>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
</div>

<div class="template" id="template-no-load-file-support">
	<div class="alert alert-warning">
		<span>Your browser does not support loading files generated from SynthJS. Open up the file using a 
		 plaintext editor, copy everything to clipboard, and paste it into load from JSON as a workaround. The 
		 easier way would be to use up-to-date browsers (try Chrome / Firefox) which support this feature.
		</span>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
</div>

<div class="template" id="template-no-file-selected">
	<div class="alert alert-warning">
		<span>No file selected.</span>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
</div>

</html>
