<div id="template-player-controls-inner" class="template">
	<button id="button-play-pause" type="button" class="btn btn-default"></button>
	<span>Beat: </span><span data-attr="beat"></span>
</div>

<div id="template-instrument-controls" class="template">
	<div class="instrument-block header">Instruments</div>
</div>

<div id="template-instrument-control-block" class="template">
	<div class="instrument-control-block">
		<div>
			<input type="text" data-attr="name" value="" class="form-control"></input>
			<span data-attr="instrument-id"></span>
		</div>
		<div>
			<span>Vol: </span><span data-attr="loudness"></span>
		</div>
		<div style="font-size: 0.7em;">waveform | delete</div>
	</div>
</div>
